body {
  background-color: whitesmoke;
}

img {
  width: 50%;
}

.news-item {
  border-style: solid;
  border-color: black;
  padding: 20px;
  border-width: 1px;
  width: 500px;
  height: 400px;
  margin: 20px;
  float: left;
  background-color: white;
}

input {
  margin: 50px;
  margin-right: 3px;
}

h1 {
  color: white;
  background-color: orange;
  padding: 30px;
  margin-top: 0;
}
